@use "../../vars" as *;

.stored__header {
  padding: 25px;
}

.stored__title {
  margin: 0;

  font-size: 36px;
  line-height: calc(42 / 36);
}

.stored__statistics {
  margin: 0;

  font-size: 18px;
  line-height: calc(22 / 18);
  color: $color--moreLight;
}

.stored__list {
  @include defaultList;

  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 50px;
}

.stored__btn {
  @include btnStyleEffect;
  margin: 0 10px;

  &:disabled {
    display: none;
  }
}
