@use "../../vars" as *;

.app {
  display: flex;
}

.app__search {
  position: fixed;
  top: 0;
  left: 0;

  width: 25%;
  height: 100%;

  background: $color--dark;
  background: linear-gradient(90deg, $color--dark 0%, $color--moreDark 100%);
}

.app__book {
  flex-grow: 1;
  margin-left: 25%;
}

.app__stored {
  width: 30%;
  min-width: 30%;

  background: $color--moreDark;
  background: linear-gradient(180deg, $color--moreDark 0%, $color--dark 100%);
}

@media (max-width: $widthTablet) {
  .app {
    flex-wrap: wrap;
    max-width: 480px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .app__search {
    position: static;

    width: 100%;
    height: 90%;
    min-height: 300px;
  }

  .app__book {
    margin-left: 0;
  }

  .app__stored {
    width: 100%;
  }
}
